$white:#e5e3e6;
$gray:#d0cdc6;
$light-red:#ea6e56;
$red: #e45f4c;
$dark-red:#b3291c;
$black:#111213;
$green:#1f8472;

$colors:(
    "white":$white,
    "light-red":$light-red,
    "red":$red,
    "dark-red":$dark-red,
    "gray":$gray,
    "black":$black,
    "green":$green
);

$container:(
    "sm":36rem,
    "md":48rem,
    "lg":62rem,
    "xl":75rem,
    "xxl":87.5rem
);

$gradients:(
    'body':linear-gradient($light-red 0%,$red 60%, $dark-red)
);

$vars:(
    'color':$colors,
    'container':$container,
    'gradient':$gradients
);


